
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    color: DarkSlateGray;
     height: 100%;
     background-image: url(img/retina_wood.png);
 	font-family: lato;
 	overflow: hidden;
	
}

.panel {
	padding: 5px;
   	  background-color: hsl(30, 50%, 97%);
 overflow: scroll;
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
 }

@font-face {
	font-family: lato;
	src: url("fonts/Lato-Light.ttf");
}

.page-content {
	position: relative;
 	flex: 1;
	padding: 15px;
 	overflow: scroll;
 }

.page-nav {
  	position: relative;
 	margin: 6px;
 	/* 12em is the width of the columns */
  	order: -1;
  	flex: 0 0 1em;
  	padding: 10px;
  	   overflow: scroll;
 
 }
.page-viz {
  	position: relative;
 		/* 12em is the width of the columns */
  	flex: 0 0 22em;
  	padding: 10px;
  
 }



.page {

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-body {
  display: flex;
  flex: 1;
}

.output {
	display: inline-block;
	margin: 3px;
	padding: 5px;
	  	  background-color: hsl(30, 50%, 97%);
 overflow: scroll;
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

